/*=================================================================
                        GENERIC CSS

    Font     :      Roboto

    Colors   :      La Palma                 #4A9532    (Underlines)
                    Gossip                   #A1D890    (Unfocused)
                    Apple                    #70B45A    (Boutons, Hover, Focus, Links)
                    Forest Green             #286C12
                    British Racing Green     #114800
                    White                    #fff       (Text with black backgrounds)
                    Black                    #000
                    Steel Gray               #41464b    (Headings)
                    Blue Bayoux              #64707b    (Paragraphs)
                    
==================================================================*/

/*=================================================================
                        GENERAL CSS
==================================================================*/

html, body {
    height: 100%;
}

body {
    font-family: "Roboto Condensed", sans-serif;
}

p {
    color: #64707b;
    font-size: 16px;
    font-weight: 300;
    text-align: justify;
}

h2, h3 {
    text-transform: uppercase;
    color: #41464b;
}

h4 {
    text-transform: uppercase;
    color: #41464b;
    font-size: 28px;
    text-align: center;
    font-weight: 700;
}

/*=================================================================
                        GENERIC BUTTONS
==================================================================*/

.btn-general {
    border-color: #4A9532;
    border-width: 2px;
    border-radius: 0;
    color: #fff;
    padding: 12px 26px 12px 26px;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
}

.btn-general:hover, .btn-general:focus {
    background-color: #70B45A;
    color: #fff;
}

.btn-green {
    border-color: #4A9532;
    color: #4A9532;
}

.btn-green:hover,
.btn-green:focus {
    background-color: #4A9532;
    color: #fff;
}

/*.btn-disable {
    cursor: not-allowed;
    pointer-events: none;
}*/

.btn-back-to-top {
    position: fixed;
    bottom: 100px;
    right: 40px;
    font-size: 20px;
    padding: 3px 15px;
    border-radius: 0;
    /*display: none;*/
}

/*=================================================================
                        BACKGROUND PARALLAX EFFECT
==================================================================*/

.bg-parallax {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/*=================================================================
                        HEADER
==================================================================*/

.navbar {
    padding: 20px 0;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.portfolio-top-nav {
    background: rgba(0, 0, 0, 0.7);
    padding: 7px 0;
}

.portfolio-nav-wrapper {
    padding: 0 85px;
}

.navbar-nav {
    float: right;
}

.navbar-nav>li>a {
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
}

.navbar-nav>li>a:hover,
.navbar-nav>li>a:focus {
    background: none;
    color: #70B45A;
}

.navbar-toggle {
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid #fff;
    border-radius: 0;
}

.navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-collapse {
    max-height: none !important;
}

.navbar-fixed-top ul.navbar-nav>li.active>a {
    color: #70B45A;
}

/*=================================================================
                        HOME SECTION
==================================================================*/

#home {
    height: 100%;
}

#home-cover {
    height: 100%;
    background-image: url("../img/bg-home.jpg");
}

#home-content-box {
    width: 100%;
    height: 100%;
    display: table;
}

#home-content-box-inner {
    display: table-cell;
    vertical-align: middle;
}

#home-heading h3 {
    color: #fff;
    font-size: 45px;
    font-weight: 700;
    /* margin top - right - bottom - left */
    margin: 20px 0px 20px 0;
}

#home-heading h2 {
    color: #fff;
    font-size: 55px;
    font-weight: 700;
    /* margin top - right - bottom - left */
    margin: 0px 0px 20px 0;
}

/*=================================================================
                        HOME SECTION - Animations
==================================================================*/

#home-cover,
#home-heading,
#home-btn {
    -webkit-animation-duration: .5s;
            animation-duration: .5s;
}

#home-cover {
    -webkit-animation-delay: .1s;
            animation-delay: .1s;
}

#home-heading {
    -webkit-animation-delay: .5s;
            animation-delay: .5s;
}

#home-btn {
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
}

/*=================================================================
                        GENERIC CONTENT
==================================================================*/

.content-box {
    padding: 60px 0 60px 0;
}

.content-title h3 {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin: 0 0 30px 0;
}

.content-title-white h3 {
    color: #fff;
}

.content-title-underline {
    width: 30px;
    height: 3px;
    background-color: #4A9532;
    margin: 0 auto 30px auto;
}

.underline-project {
    max-width: 100%;
    height: 3px;
    background-color: #4A9532;
    margin: 0 auto 70px auto;
}

/*=================================================================
                        ABOUT SECTION
==================================================================*/


#about-bg-diagonal {
    width: 60%;
    height: 700px;
    float: right;
    background-image: url("../img/bg-about.jpg");
    border-left: 200px solid #fff;
    border-top: 700px solid transparent;
}

#about-content-box {
    float: left;
    height: 700px;
}

#about-content-box-outer {
    width: 100%;
    height: 100%;
    display: table;
}

#about-content-box-inner {
    display: table-cell;
    vertical-align: middle;
}

#about .content-desc h3 {
    font-size: 30px;
    font-weight: 700;
    text-align: left;
    margin: 0 0 30px 0;
}

#about .content-desc-underline {
    width: 150px;
    height: 3px;
    background-color: #4A9532;
    margin: 0 0 30px 0;
}

#about-description p {
    font-size: 22px;
    margin-bottom: 20px;
}

#about .social-list-btn {
    width: 100%;
}

#about .social-list-btn .social-list {
    float: right;
}

#about .social-list-btn a {
    float: left;
}

/*=================================================================
                        SOCIAL LIST
==================================================================*/

.social-list {
    padding-left: 0;
}

.social-list li {
    list-style: none;
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 6px;
    margin-top: 10px;
}

.social-icon i {
    font-size: 25px;
}

.icon-gray i {
    color: #64707b;
}

.social-icon i:hover {
    color: #70B45A;
}

/*=================================================================
                        SCHOOL CAREER
==================================================================*/

#school-career-cover {
    background-image: url("../img/bg-school-career.jpg");
}

#schools {
    padding: 50px 0;
}

.school img {
    max-width: 120px;
    margin: 0 auto 0 auto;
}

.school blockquote {
    border: 0;
    font-family: Georgia, sans-serif;
    color: #fff;
    /*top - bottom && left - right*/
    padding: 6px 150px;
    position: relative;
}

.school blockquote p {
    color: #fff;
    margin-top: 20px;
}

/*=================================================================
                        SKILLS
==================================================================*/

.row.no-gutters [class*=col-] {
    padding-left: 0;
    padding-right: 0;
}

.img-wrapper {
    overflow: hidden;
}

.img-wrapper img {
    -webkit-transition: -webkit-transform .5s ease;
    transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
    transition: transform .5s ease, -webkit-transform .5s ease;
}

.img-wrapper img:hover {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    cursor: -webkit-zoom-in;
    cursor: zoom-in;
}

/*=================================================================
                        MY PROJECTS
==================================================================*/

#projects .project-name {
    text-align: center;
    padding: 0 0 30px 0;
}

#projects .project-description img {
    max-width: 100%;
}

#projects .tools-used {
    margin: 30px 0 70px 0;
}

/*=================================================================
                        FOOTER
==================================================================*/

#footer-bottom {
    background-color: #41464b;
    padding: 30px 0;
    margin-top: 20px;
}

#footer-copyrights p {
    margin: 0;
    color: #fff;
}

#footer-menu {
    float: right;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
}

#footer-menu ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

#footer-menu ul li {
    display: inline-block;
}

#footer-menu a {
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    margin: 0 10px;
    text-decoration: none;
}

#footer-menu a:hover {
    color: #70B45A;
}

/*=================================================================
                        Enigma
==================================================================*/

#enigma-body {
    background-color: #A1D890;
}

.content-box-enigma {
    padding-bottom: 20px;
    padding-top: 20px;
}
